
/*  ----------- BARRA -----------  */
.navbar-brand{
    padding-left: 2%;
    height: 15vh;
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
}

header nav ul{
    display: flex;
}

header nav ul li:hover a{
    font-weight: bold;
}

.navbar-brand img {
    height: 100%;   
}

#navbarSupportedContent{
    padding-right: 2%;
}

.navbar-brand:hover img {
    transform: scale(1.1);
}

/*  ----------- CARRUSEL -----------  */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover ;
    overflow: hidden;

}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}

.carousel-caption{
    padding-bottom: 18vh;
   
}

.carousel-caption a{
    color: inherit;
    text-decoration: none;
}

.carousel-caption:hover h5{
    transform: scale(1.01);
}

.carousel-caption h5{
    font-size: 14vh;
    font-weight: 100vh;
    
}

.carousel-caption p{
    font-size: 2vh;
    top: 2rem;
}

/*  ----------- CARDS -----------  */

.titulo_seccion{
    padding-left: 4%;
    color: #325793;
    margin-top: 2%;
    border-bottom: 4px solid #AEBCD3;
}

.container{
    display: flex;
    justify-content: center;
    
}

.container .columna{
    justify-content: center;
}

.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card{
    max-width: 325px;
    border-radius: 10px;
    overflow: hidden;
}

.card_contenido h5{
    padding: 3%;
    text-align: center;
}

.card_contenido p{
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
}

.container .card-container a{
    text-decoration: none;
}

.container .card-container a:hover{
    transform: scale(1.01);
    
}




/*  ----------- PANEL ICONOS SVG -----------  */

.panel-investigacion{
    margin-top: 2%;
    margin-left: 2%;

}

.panel-investigacion .container .columna_svg a{
    margin-top: 5%;
    display: flex;
    padding: 2%;
    justify-content: center;
    justify-content: space-between;

}

.panel-investigacion .container .columna_svg a svg{
    height: 13vh;
    width: auto;

    
}


.panel-investigacion .container a:hover svg{
    fill: orange;
    
}


/*  ----------- FOOTER -----------  */
.container_footer{
    background-color: #F8F9FA;
    
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.container_footer .columna_footer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

}

.container_footer .columna_footer p{
    text-align: justify;
    padding: 4%;
}

.container_footer .columna_footer img{
    margin-left: 4%;
    height: 15vh;
    
}


.container_footer a:hover svg{
    fill: orange;
    transform: scale(1.1);
}


.container_footer iframe{
    padding-top: 2%;
    padding-bottom: 2%;
    
    
}

.container_footer .columna_footer a svg{
    display: inline;
    color: black;
    text-decoration: none;
    height: 25px;

}


@media (max-width: 576px){
    .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 12px;
    }

    .carousel{
        height: 40vh;
    }

    .card-container{
        width: 70%;
    }

    

}

